# Module 1.2 - **Python Part 1**
## _Ashish Shroti_ and _Rajeshkumar K_

In [4]:
print("Hello, Universe!")

Hello, Universe!

---
# Table of Contents
1. [Jupyter](#jupyter)
2. [Variables and Operators](#variables-and-operators)
3. [Data Types](#data-types)
4. [Conditionals](#conditionals)
5. [Loops](#loops)
6. [Functions](#functions)

---
## Jupyter <a name='jupyter'></a>

### Features
+ Provides cells - interactive programming
+ [Literate programming](http://literateprogramming.com/)
+ Markdown, $\LaTeX$ and other rich media support.

### Installation
#### Ubuntu (and Ubuntu based systems)
1. Update the system using: `sudo apt update && sudo apt upgrade`.
2. Install [**Jupyter Lab**](https://jupyter.org/) using: `pip install jupyterlab`.
3. To open Jupyter Lab, go to some directory, and run `jupyter lab`.

#### Arch Linux (and Arch based systems)
1. Update the system using: `sudo pacman -Syu`.
2. Install [**Jupyter Lab**](https://jupyter.org/) using: `sudo pacman -S jupyterlab`.
3. To open Jupyter Lab, go to some directory, and run `jupyter lab`.

---
## Variables  <a name='variables-and-operators'></a>

Variables are names given to data that we need to store and manipulate in our programs. For instance, suppose your program needs to store the age of a user. To do that, we can name this data userAge and define the variable userAge using the following statement.

In [5]:
count = 0
print(count)

0

In [12]:
name = 'Peter'
print(age, name)

14 Peter

In [7]:
age, name = 30, 'Peter'
print(age, name)

30 Peter

In [10]:
age = input("Enter Age: ")
name = input("Enter Name: ")
print(age, name)

14 David

A variable name in Python can only contain letters (a - z, A - B), numbers or underscores (_). However, the first character cannot be a number. Hence, you can name your variables userName, user_name or userName2 but not 2userName.

## Basic Operators
Basic operators in Python include +, -, *, /, //, % and ** which represent addition, subtraction, multiplication, division, floor division, modulus and exponent respectively.

In [13]:
x, y = 5, 2

In [14]:
z = x + y
print(z)

7

In [16]:
print(x-y)

3

In [17]:
print(x*y)

10

In [18]:
print(x/y)

2.5

In [19]:
print(x//y)

2

In [20]:
print(x%y)

1

In [21]:
print(x**y)

25

In [26]:
a= 1
b=2
c=5

print(int(x+y*a/b))

6

In [27]:
i = 0
i = i + 1
print(i, "1st value")
i += 1
print(i, "2nd value")

1 1st value
2 2nd value

---
## Data Types <a name='data-types'></a>


### Integers 
Integers are numbers with no decimal parts, such as -5, -4, -3, 0, 5, 7 etc.

In [ ]:
number = 45

###  Float
Float refers to numbers that have decimal parts, such as 1.234, -0.023, 12.01.

In [ ]:
userHeight = 1.82 
userWeight = 67.2


### String
String refers to text.

In [ ]:
 variableName = 'initial value'

In [37]:
firstName = 'Peter'
lastName= 'Malan'
print('Your name is '+ firstName +" "+ lastName)

Your name is Peter Malan

#### Type Casting In Python
Sometimes in our program, it is necessary for us to convert from one data type to another, such as from an integer to a string. This is known as type casting.

There are three built-in functions in Python that allow us to do type casting. These are the int(), float(), and str() functions.

In [31]:
x = input("Enter x: ")
y = input("Enter y: ")
print(x+y)

67

In [38]:
x = int(input("Enter x: "))
y = int(input("Enter y: "))
print(x+y)

13

In [39]:
x = int(input("Enter x: "))
y = float(input("Enter y: "))
print(x, y, x+y)

7 9.0 16.0


### List

List refers to a collection of data which are normally related. Instead of storing these data as separate variables, we can store them as a list.

In [41]:
scores = ["78", "67", "69","5", "0", "95", "49"]

In [42]:
print(scores[0])

78

In [43]:
print(scores[2:4])

['69', '5']

In [44]:
del scores[4]
print(scores)

['78', '67', '69', '5', '95', '49']

In [ ]:
upcoming_scores = []


### Tuples

Tuples are just like lists, but you cannot modify their values. The initial values are the values that will stay for the rest of the program. An example where tuples are useful is when your program needs to store the names of the months of the year.

In [49]:
monthsOfYear = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')
coordinates = (8,9,5)

You access the individual values of a tuple using their indexes, just like with a list.

In [51]:
print( monthsOfYear[0] , monthsOfYear[-12] )

Jan Jan


### Dictionary

Dictionary is a collection of related data PAIRS. For instance, if we want to store the username and age of 5 users, we can store them in a dictionary.

In [61]:
marks = {67: 95, "Maths": 98, "Physics": 100}

In [62]:
marks[67]

95

In [55]:
upcoming_marks = {}

In [56]:
upcoming_marks["Social_Science"] = 96
print(upcoming_marks)

{'Social_Science': 96}

In [59]:
print(marks)
marks["Social"] = 97

{'English': 95, 'Maths': 98, 'Physics': 100, 'Social': 97}

---
## Conditionals <a name='conditionals'></a>

All control flow tools involve evaluating a condition statement. The program will proceed differently depending on whether the condition is met.

The most common condition statement is the comparison statement. If we want to compare whether two variables are the same, we use the == sign (double =). For instance, if you write x == y, you are asking the program to check if the value of x is equals to the value of y. If they are equal, the condition is met and the statement will evaluate to True. Else, the statement will evaluate to False.

In [63]:
print(5==5)
print(5<5)
print(5<9)
print(5<=5)
print(5!=5)
print(5!=4)

True
False
True
True
False
True

In [70]:
n = int(input("Enter a number greater than 6: "))
if n> 6 :
    print("Correct")
elif n== 6 : 
    print("Learn counting again!")
else :
    print ("Incorrect")

Incorrect
something

---
## Loops <a name='loops'></a>

In [98]:
score = ["78", "67", "69","5", "0", "95", "49"]
fifties = 0

for score in scores[2:5]: 
    print(score)
    if int(s) >= 50 :
        print("yaay! a fifty")
        fifties +=1
    else :
        print("not a fifty")

69
not a fifty
5
not a fifty
0
not a fifty

---
## Functions <a name='functions'></a>

Functions are simply pre-written codes that perform a certain task

In [ ]:
def functionName(parameters):

    # code detailing what the function should do

return "something"

In [94]:
def count_fifties (scores) :
    fifties= 0
    for score in scores: 
       
        if int(score) >= 50 :
            
            fifties +=1
    return fifties

In [82]:
score_stats = {"Dhoni": ["67", "32", "183"], "Virat" :["78", "132", "93"], "Rohit": ["78", "232", "15"]}

In [93]:
print(count_fifties(score_stats["Dhoni"]))
print(count_fifties(score_stats["Virat"]))
print(count_fifties(score_stats["Rohit"]))

2
3
2

In [95]:
for player in score_stats:
    print(player)
    print(count_fifties(score_stats[player]))

Dhoni
2
Virat
3
Rohit
2